<h1>Help Desk</h1>

<% flash.keys.each do |key| %>
  <p class="<%= key.to_s %>"><%= flash[key] %></p>
<% end %>

<% Ticket.all.each do |ticket| %>
  <p><%= link_to ticket.title, ticket %></p>
<% end %>

<%= link_to "Create New Ticket", new_ticket_path %>
